<html>
<head>
    <title>Places Visited</title>
</head>
<body>
    <h1>Places Visited</h1>

    {% if places is not empty %}

        <ul>
            {% for place in places %}
            <li>{{ place.getName }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form action='/places' method='post'>
        <label for='name'>City Name</label>
        <input id='name' name='name' type='text'>
        <label for='picture'>Insert picture URL</label>
        <input id='picture' name='picture' type='text'>
        <label for='stay'>Enter Length of Stay</label>
        <input id='stay' name='stay' type='text'>

        <button type='submit'>Add City</button>
    </form>
    <form action='deleteLast' method='post'>
        <button type='submit'>Clear</button>
    </form>
    <form action='/places_posted' method='get'>
        <button type='submit'>Extended View</button>
    </form>

</body>
</html>
