<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <title>Places Visited</title>
    </head>
    <body>
        <div class="container">

            <h1>Places Visited</h1>

            {% if places is not empty %}

                <ul>
                    {% for place in places %}
                    <li>{{ place.getName }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <form action='/places' method='post'class='form-group'>
                <label for='name'>City Name</label>
                <input id='name' name='name' type='text' class='form-control'>
                <label for='picture'>Insert picture URL</label>
                <input id='picture' name='picture' type='text' class='form-control class='btn btn-default''>
                <label for='stay'>Enter Length of Stay</label>
                <input id='stay' name='stay' type='text' class='form-control class='btn btn-default''>
                <p></p>
                <button type='submit' class='btn btn-default'>Add City</button>
            </form>
            <form action='deleteLast' method='post'>
                <button type='submit' class='btn btn-default'>Clear</button>
            </form>
            <form action='/places_posted' method='get'>
                <button type='submit' class='btn btn-default'>Extended View</button>
            </form>

        </div>
    </body>
</html>
